@using System.Reflection.Metadata
@inject HttpClient Http

<button class="btn btn-primary" @onclick="DownloadFile">Reporte @ReportName</button>

@code {
    [Inject] public IJSRuntime JS { get; set; }

    [Parameter] public string ReportName { get; set; }
    [Parameter] public string ReportId { get; set; }

    private async Task DownloadFile()
    {
        try
        {
            // Realiza la llamada a la API para obtener el archivo
            var response = await Http.GetAsync($"runReport?reportId={ReportId}");
            
            if (response.IsSuccessStatusCode)
            {
                // Lee el contenido del archivo en bytes
                var fileBytes = await response.Content.ReadAsByteArrayAsync();

                // Crea una URL de descarga para el archivo
                var fileName = $"{ReportName}.pdf"; // O usa el nombre dinámico si lo tienes
        
                await JS.InvokeVoidAsync("downloadFileFromStream", fileName, Convert.ToBase64String(fileBytes));//Invoca la funcion de js
            }
            else
            {
                Console.WriteLine("Error al obtener el archivo: " + response.StatusCode);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error al descargar el archivo: " + ex.Message);
        }
    }
  
}

